BasedOnStyle: LLVM
# AccessModifierOffset: -4
BreakBeforeBinaryOperators: false
ColumnLimit: 100
Standard: Cpp11
IndentWidth: 2
BreakBeforeBraces: Allman
PointerBindsToType: true
BinPackParameters: false
BinPackArguments: false
CommentPragmas: "/**"
BreakBeforeTernaryOperators: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
PenaltyReturnTypeOnItsOwnLine: 1000
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AlwaysBreakTemplateDeclarations: true